<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
</head>
<body>
  <h1>This is signin page</h1>
  <nav><h1>
    <a href="/"><button>Home</button></a>
  <a href="/login/"><button>Login</button></a>
  <a href="/contact/"><button>Contact</button></a>
  </h1></nav>
  
  <form action="/create" method="post">
    <input type="text" name="username" placeholder="username" id="username">
    <br><br>
    <input type="password" name="password" placeholder="password" id="password">
    <br><br>
    <button>signin</button>
    
  </form>
</body>
</html>